*, *::before, *::after {
    box-sizing: border-box;
}
html{
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  margin: 0 auto;
  padding: 0;
}
header{
  border-bottom: 1px solid #ccc;
  padding: 1em 0;
  text-align: center;
}
nav{
  padding: 2em 0;
  overflow: hidden;
}
nav div{
  float: left;
}
main {
  margin: 0 auto;
  min-height: 580px;
  min-width: 1000px;
  width: 80%;
}

footer {
  font-size: 12px;
  font-weight: 500;
  padding: 5px 0;
  text-align: center;
}
table{
  width: 100%
}
h1{
  font-size: 28px;
  color: #ccc;
}
h2{
  font-size:18px;
}
a{
  text-decoration: none;
}
input,button, select{
  border: 1px solid #ccc;
  margin: 1px;
}
button{
  cursor: pointer;
}

.btn {
    background-color: #428bca;
    border-color: #357ebd;
    box-shadow: 1px 1px 8px #a094a0;
    color: #fff;
    font-size: 16px;
    margin: 0 4px;
    min-width: 80px;
    padding: 11px;
}
.btn_cancel {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #333;
}
.btn_small {
    background: #edebeb none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #717171;
    font-size: 14px;
    padding: 5px 10px;
}
.input_keyword {
    border-radius: 0;
    box-shadow: 1px 1px 8px #a094a0;
    display: block;
    float: left;
    font-size: 16px;
    margin: 0 2px;
    padding: 12px;
    width: 75%;
}
input,
select{
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
  width: 100%;
}
/****************** Chat Window ********************/
#chat_window {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ccc;
    bottom: 0;
    position: fixed;
    right: 200px;
    width: 500px;
}
#chat_window_title {
    background: #EA6153;
    color: #fff;
    font-size: 16px;
    padding: 7px;
    cursor: pointer;
}
#chat_window_icon {
    float: right;
    font-size: 20px;
    font-weight: 500;
}
#chat_history {
    color: #818181;
    font-size: 16px;
    height: 400px;
    padding: 4px;
    width: 100%;
}
#chat_history p {
    margin: 0;
    padding: 1px;
}
#chat_history p.sent {
    background: #c5fcff;
    border-radius: 4px;
    color: #818181;
    float: left;
    margin: 8px 0;
    padding: 18px 12px;
    width: 70%;
}
#chat_history p.received {
    background: #F1F0B2;
    border-radius: 4px;
    color: #818181;
    float: right;
    margin: 8px 0;
    padding: 18px 12px;
    width: 70%;
}
#chat_input {
    border-radius: 5px;
    color: #8e8e8e;
    font-size: 15px;
    padding: 5px;
    width: 100%;
}
/******************* Select dropdown***********************/
#dropdown select {
    background: #58b14c;
    border: 0 none;
    color: #eee;
    font-size: 16px;
    padding: 11px 10px;
    width: 180px;
}
#dropdown {
    background: #58b14c none no-repeat scroll 118px center;
    border-radius: 0;
    box-shadow: 1px 1px 8px #a094a0;
    overflow: hidden;
    width: 150px;
}

/****************** Dialog **********************/
#dialog {
    background: rgba(0, 0, 0, 0.43) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
#dialog_table {
    display: table;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
#dialog_tcell{
  display: table-cell;
  vertical-align: middle;
}
#dialog_box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 auto;
    width: 688px;
}
#dialog_header {
    background: #f1f1f1 none repeat scroll 0 0;
    border-bottom: 1px solid #cdcdcd;
    font-weight: bold;
    line-height: 70px;
    padding: 0 1em;
    position: relative;
    text-align: left;
    top: 0;
}
#dialog_body {
    min-height: 180px;
    padding: 4px;
    position: relative;
    text-align: left;
    vertical-align: top;
}
#dialog_footer {
    background: #f1f1f1 none repeat scroll 0 0;
    border-top: 1px solid #cdcdcd;
    bottom: 0;
    line-height: 70px;
    position: relative;
}
#dialog_body td{

  padding: 5px 10px;
}
#dialog_body input, #dialog_body select{
  width: auto;
}
.caption{
  font-weight: bold;
}

/****************** Prograss bar *******************/
.prograssBar {
    background: #D4FCFB;
    display: block;
    height: 2px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.prograssBar .bar {
    background: #09f4f0;
    height: 2px;
}
/******************Table theme**********************/
.list {
    border-collapse: collapse;
    font-size: 16px;
}
.list th{
  color: #fff;
  font-weight: 500;
  background: #2F7EB2;
  text-align: left;  
}
.list th,
.list td{
  padding:15px;
}
.list td{
  color:#333;
}
.list td:not(:last-child){
  border-right: 1px solid #E7E7E7;
}
.list tr:not(:last-child){
  border-bottom: 1px solid #E7E7E7;
}
.list th:first-child{
  width: 10%;
  cursor: pointer;
}
.list th:nth-child(2){
  width: 10%;
  cursor: pointer;
}
.list th:nth-child(3){
  cursor: pointer;
}
.list th:nth-child(4){
  width: 10%;
  cursor: pointer;
}
.list th:nth-child(5){
  width: 10%;
  cursor: pointer;
}
.list th:nth-child(6){
  width: 10%;
}
.list tr:nth-child(odd){ 
  background: #F4F3F3;
}
.list tr:nth-child(even){
  background: #E3EFF5;
